{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - 404</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "store/sidebar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                  
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <div style="justify-content: center;display: flex;color:red">
                    {{g}}
                </div>
        <!-- /.container-fluid -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <h2>Invoice for sales #{{ details.vendor }} </h2>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading"> <h5><strong>Shakti Enterprises:
                        </strong> </h5></div>
                        Shop no-10 Near Netaji ki chakki</br>
                            Niwaru Road,Jhotwara</br>
                            Jaipur</br>
                    
                    <hr>
                    Buyer <br>
                    
                    <div class="panel-heading"> <h5><strong>{{ details.vendor }}
                    </strong> </h5></div>
                        <div class="panel-body">
                            {{ details.address }} </br>
                         <strong>Contact: </strong>{{ details.phone }}<br>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading"><strong>INVOICE_NO:</strong>
                            {{invoice_no}}
                        </div>
                        <div class="panel-body">
                        </br>
                            <strong> Date :</strong><br>
                            
                            {{ today }}
                    </br>
                </br>
            </br>
                            <strong> Gst_no :</strong></br>
                            {{details.gst_no}}
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
</br>
</br>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td><strong>Item Name</strong></td>
                                            <td class="text-center"><strong>HSN</strong></td>
                                            <td class="text-center"><strong>Gst_rate</strong></td>
                                            <td class="text-center"><strong>Date</strong></td>
                                            <td class="text-center"><strong>Item Price</strong></td>
                                            <td class="text-center"><strong>Item Quantity</strong></td>
                                            <td class="text-right"><strong>Total</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in msg3 %}
                                        <tr>
                                            <td>{{ row.product }}</td>
                                            <td class="text-center">{{ row.hsn }}</td>
                                            <td class="text-center">{{ row.gst_rate }}</td>
                                            <td class="text-center">{{ row.date }}</td>
                                            <td class="text-center">{{ row.price }}</td>
                                            <td class="text-center">{{ row.quantity }}</td>
                                            <td class="text-right">{{ row.total }}</td> 
                                        </tr>
                                        {% endfor %}
                                        <tr>
                                            
                                                <form method="POST" action="/admin-se/billing_sales/">
                                                    {% csrf_token %}
                                               
                                                    <input type="text" id="form6Example1" name="vendor" class="form-control" hidden value="{{ Vendor }}" />
                                                    <input type="text" id="form6Example5" name="date" class="form-control" hidden value="{{ Date }}" />
                                                       
                                                        <td>
                                                            <select name="product_id" id="form6Example5" style="min-height:30px;min-width:200px;" class="form-control">
                                                               
                                                               {% for row in products %}
                                                               <option value="{{ row.pno }}"   style="max-height:10px" >{{ row.product }}</option>
                                                               {% endfor %}
                                                             </select>
                                                             <label for="cars">Choose a Product:</label>
                                                                 </td>
                                            <td>
                                              
                                                
                                            </td>
                                            <td>
                                                <label class="block">
                                                    <input type="number" id="form6Example1" name="gst_rate" class="form-control" />
                                                            <label class="form-label" for="form6Example1">Gst_rate</label>
                                                  </label>
                                                </td>
                                                <td>
                                                    <label class="block">
                                                        <input type="text" id="form6Example1" name="price" class="form-control" />
                                                                <label class="form-label" for="form6Example1">Item Price</label>
                                                      </label>
                                                    </td>
                                                    <td>
                                                        <label class="block">
                                                            <input type="text" id="form6Example1" name="quantity" class="form-control" />
                                                                    <label class="form-label" for="form6Example1">Item Quantity</label>
                                                          </label>
                                                        </td>
                                                        <td>
                                                <button class="text-white    border-0 py-1  focus:outline-none hover:bg-indigo-600 rounded text-lg bg-danger" style="height:40px;width: 120px;" >Add</button>
                                            </td>
                                           
                                        </form>
                                        </tr>
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-center"><strong>SubTotal</strong></td>
                                            <td class="highrow text-right">{{ total}}</td>
                                        </tr>
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-center"><strong>Cgst</strong></td>
                                            <td class="highrow text-right">{{cgst}}</td>
                                        </tr>
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-center"><strong>Sgst</strong></td>
                                            <td class="highrow text-right">{{ cgst}}</td>
                                        </tr>
                                        <tr>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow"></td>
                                            <td class="highrow text-center"><strong>Total</strong></td>
                                            <td class="highrow text-right">{{ t}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <td class="text-center"><strong>HSN</strong></td>
                                        <td class="text-center"><strong>Central Tax</strong></td>
                                        <td class="text-center"><strong>State Tax</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r3 in v1 %}
                                    <tr>
                                        <td class="text-center">{{ r3.hsn }}</td>
                                        <td class="text-center">{{ r3.hsum }}</td>
                                        <td class="text-center">{{ r3.hsum}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>  
        <!-- End of Main Content -->

          

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/admin-se/logout_view/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>